.titleWrapper {
  margin-top: 18px;

  @media (min-width: 1024px) {
    margin-top: var(--header-height);
  }
}

.title {
  text-align: center;
  padding-right: var(--padding-x);
}

.contentContainer {
  padding-top: 18px;
  display: flex;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.descriptionBlock {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 32px;
  }
}

.descriptionText {
  width: 100%;
  
  @media (min-width: 1024px) {
    max-width: 450px;
  }
}

.descriptionImage {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: 65px;

  @media (min-width: 600px) {
    width: auto;
    height: 490px;
  }
  @media (min-width: 1024px) {
    margin-bottom: unset;
  }
  @media (min-width: 1280px) {
    height: 570px;
  }
  @media (min-width: 1920px) {
    height: 632px;
  }
}

.textWithFrame {
  width: 100%;
  padding: 14px;
  border: 1px solid white;
  
  @media (min-width: 1024px) {
    padding: 18px;
  }
  @media (min-width: 1280px) {
    padding: 24px;
  }
  @media (min-width: 1920px) {
    padding: 38px 75px;
  }
}