.titleWrapper {
  margin-top: 18px;

  @media (min-width: 1024px) {
    margin-top: var(--header-height);
  }
}

.title {
  text-align: center;
  padding-right: var(--padding-x);
}

.contentContainer {
  padding-top: 18px;
  display: flex;
}

.videoBackground {
  height: calc(100vw * 0.563)
}

.imageWrapper {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(black, transparent, transparent, transparent, transparent, black);
  }
}

.textWithFrame {
  width: 100%;
  padding: 14px;
  border: 1px solid white;
  
  @media (min-width: 1024px) {
    padding: 18px;
  }
  @media (min-width: 1280px) {
    padding: 24px;
  }
  @media (min-width: 1920px) {
    padding: 38px 75px;
  }
}