.content {
  width: 100vw;
  height: 100vh;
  margin-left: calc(0px - var(--padding-x));
  position: relative;

  @media (max-width: 1024px) {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 240px;
      background: linear-gradient(transparent, black);
    }
  }
}

.polinaImage {
  width: 100%;
  object-fit: cover;

  @media (min-width: 1024px) {
    height: 100%;
  }
}

.descriptionDesk,
.descriptionMobile {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  position: absolute;
}

.descriptionDesk {
  top: 58px;
  right: var(--padding-x);

  @media (min-width: 1024px) {
    font-size: 12px;
    line-height: 14px;
    left: 52px;
    top: 32px;
    right: unset;
  }
  @media (min-width: 1280px) {
    font-size: 14px;
    line-height: 16px;
    left: var(--padding-x);
    top: 58px;
  }
  @media (min-width: 1440px) {
    font-size: 16px;
    line-height: 18px;
    top: 82px;
    left: 180px;
  }
}

.descriptionMobile {
  font-size: 12px;
  line-height: 13px;
  text-align: end;
  top: 28px;
  right: 36px;
}

.projectsButtonContainer {
  height: 154px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - var(--padding-x));
  cursor: pointer;
}

.projectsButtonBorder {
  width: 100%;
  height: 20px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

.projectsButtonContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px
}

.projectsButtonIconLeft {
  transform: rotate(-90deg);
}
.projectsButtonIconRight {
  transform: rotate(90deg);
}

.projectsButtonText {
  font-size: 16px;
  line-height: 16px;
  border-bottom: 1px solid white;
}

.projectsVideoPreviewBorder {
  @media (min-width: 1024px) {
    width: 100vw;
    height: 1px;
    background-color: #E5E5E5;
    margin-left: calc(0px - var(--padding-x));
  }
}