.projectsContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 0;
  
  @media (min-width: 1024px) {
    gap: 24px;
  }
  @media (min-width: 1280px) {
    gap: 32px;
  }
}

.projectsContainerFirstRow {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 12px;
  
  @media (min-width: 1024px) {
    gap: 56px;
    padding-left: 24px;
  }
  @media (min-width: 1280px) {
    gap: 72px;
  }
}

.projectsContainerSecondRow {
  display: grid;
  grid-template-columns: 5fr 4fr;
  gap: 12px;
  
  @media (min-width: 1024px) {
    grid-template-columns: 2fr 1fr;
    gap: 38px;
    padding-right: 72px;
  }
  @media (min-width: 1280px) {
    gap: 56px;
  }
}

.projectImage {
  height: 130px;

  @media (min-width: 600px) {
    height: 180px;
  }
  @media (min-width: 1024px) {
    height: calc((100vh - var(--header-height) - 32px) / 2);
  }
  &.rightPosition {
    object-position: right;
  }
}

.videoPreviewAuditoriumImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  position: relative;
  border: 1px solid #d9d9d94e;
  padding: 8px 12px;
  background: linear-gradient(transparent, transparent);
  cursor: pointer;

  &:hover {
    &::before {
      opacity: 1;
    }
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(transparent, #0141ff56);
    
    transition: opacity 0.3s ease-out;
    
    @media (min-width: 1024px) {
      opacity: 0;
    }
  }

  @media (min-width: 1024px) {
    padding: 24px 72px;
  }
}

.buttonText {
  font-size: 12px;
  position: relative;
  z-index: 1;

  @media (min-width: 1024px) {
    font-size: unset;
  }
}