.infoWrapper {
  --gradient-height: 405px;
  --background-image-height: calc(100vw * 1.4);

  width: 100%;
  height: calc(var(--background-image-height) + var(--gradient-height) / 2);
  position: relative;
  margin-top: var(--header-height);

  @media (max-width: 1024px) {
    --gradient-height: 150px;
  }
}

.infoContainer {
  width: 100%;
  position: relative;
  height: var(--background-image-height);
}

.backgroundImage {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0
}

.bottomGradient {
  width: 100%;
  height: var(--gradient-height);
  background: linear-gradient(transparent, black 60%);
  position: absolute;
  bottom: 0;
  left: 0;
}
