.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-x);
  gap: 65px;
  position: relative;
  margin-bottom: 32px;
  margin-top: var(--header-height);

  @media (min-width: 600px) {
    gap: 72px;
  }
  @media (min-width: 1024px) {
    margin-bottom: 80px;
    gap: 100px;
  }
  @media (min-width: 1920px) {
    gap: 130px;
  }
}