.imagePreviewHorizontalWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectDescription {
  position: relative;
  padding-right: var(--padding-x);
  z-index: 10;
}

.textContainer {
  --text-container-padding: 14px;
  
  width: calc(100% + var(--text-container-padding));
  display: flex;
  flex-direction: column;
  padding-right: var(--padding-x);
  gap: 50px;

  @media (min-width: 1024px) {
    --text-container-padding: 18px;

    padding-right: 0;
  }
  @media (min-width: 1280px) {
    --text-container-padding: 24px;
  }
  @media (min-width: 1920px) {
    --text-container-padding: 25px;
  }
}

.text {
  padding: var(--text-container-padding) var(--text-container-padding) 0;
}

.textWithFrame {
  border: 1px solid white;
  padding: var(--text-container-padding);
}
