.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: pre-line;
  gap: 40px;
}

.title {
  font-size: 47px;
  font-weight: 300;
}

.description {
  font-size: 20px;
  font-weight: 300;
  opacity: 0.9;
}