.titleContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: pre-line;
  gap: 8px;

  @media (max-width: 1024px) {
    padding-bottom: 18px;
  }  
  @media (min-width: 1024px) {
    gap: 14px;
  }
}

.title {
  width: 100%;
  font-family: raleway-light;
  font-size: 18px;
  line-height: 18px;

  @media (min-width: 1024px) {
    font-size: 27px;
    line-height: 26px;
  }
}

.description {
  width: 100%;
  font-family: raleway-extraLight;
  font-size: 10px;
  line-height: normal;

  @media (min-width: 1280px) {
    font-size: 14px;
  }
  @media (min-width: 1920px) {
    font-size: 20px;
  }
}