.tooltipWrapper {
  position: relative;
  cursor: pointer;
}

.content {
  transition: opacity 0.15s ease-out;

  &:hover {
    opacity: 0.8;
  }
}

.tooltip {
  font-size: 16px;
  line-height: 16px;
  color: black;
  background-color: #E5E5E5;
  border-radius: 4px;
  opacity: 1;
  padding: 4px;

  position: absolute;
  right: 12px;
  top: -18px;

  transition: opacity 0.15s ease-out;

  &.hidden {
    opacity: 0;
  }
  @media (min-width: 1024px) {
    font-size: 12px;
    line-height: 12px;
    right: -24px;
    top: -24px;
  }
}
