.projectPreview {
  position: relative;
}

.projectPreviewTitle {
  position: absolute;
  top: 52px;
  z-index: 10;
}

.videoBackgroundCover {
  height: calc(100vw * 1.78);
  
  @media (min-width: 1024px) {
    height: calc(100vw * 0.563);
  }
}

.videoBackground {
  height: calc(100vw * 0.563);
}

.videoPreviewContainer {
  --video-item-size: calc(100vw - var(--padding-x) * 2);

  min-height: calc(var(--video-item-size) * 3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding-x);

  @media (min-width: 900px) {
    --video-item-size: 250px;

    min-height: unset;
    height: var(--video-item-size);
    flex-direction: row;
    gap: 0;
    padding: 0 calc(var(--padding-x) * 0.6);
  }
  @media (min-width: 1024px) {
    --video-item-size: 275px;
  }
  @media (min-width: 1280px) {
    --video-item-size: 345px;
  }
  @media (min-width: 1440px) {
    --video-item-size: 370px;
  }
  @media (min-width: 1920px) {
    --video-item-size: 460px;
  }
}

.videoPreviewItem {
  width: var(--video-item-size);
  max-width: calc(100vh - var(--header-height));
  height: var(--video-item-size);
  margin: 0;

  @media (min-width: 900px) {
    max-width: var(--video-item-size);
  }
}
