.videoPreviewContainer {
  width: 100vw;
  margin-left: calc(0px - var(--padding-x));
  position: relative;
}

.videoPreviewTitleWrapper {
  position: absolute;
  top: 130px;
  left: var(--padding-x);
  z-index: 1;
}

.videoPreviewImageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &.gradient {
    &::after {
      content: "";
      background: linear-gradient(black, transparent, transparent, transparent, black);
  
      position: absolute;
      inset: 0;
    }
  }
}

.videoPreviewPlayButton {
  position: absolute;
  cursor: pointer;
}