.videoPreviewContainer {
  position: relative;
  display: flex;
  cursor: pointer;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;

    transition: opacity 0.3s ease-out;
  }

  &:hover {
    &::after {
      opacity: 0.3;
    }
  }
}

.videoPreviewWrapper {
  opacity: 1;
  transition: opacity 0.3s ease-out;

  &.hidden {
    opacity: 0;
  }
}

.videoPreview {
  width: 100%;
  margin: unset;
}

.videoPreviewPlayButton {
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.videoPreviewPlayIcon {
  width: 62px;

  @media (min-width: 1024px) {
    width: 92px;
  }
  @media (min-width: 1280px) {
    width: unset;
  }
}

.videoPlayer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}