.headerContainer  {
  width: 100%;
  height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #D9D9D9;
  background-color: black;
  padding: 10px 92px 10px 182px;
  position: fixed;
  top: 0;

  z-index: 100;
}

.headerTitle {
  font-size: 50px;
  font-weight: 300;
  line-height: 71px;
  opacity: 0.8;
}

.headerMenuItem {
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 5px;
  transition: all 0.15s ease-out;

  cursor: pointer;

  &.blue {
    color: #4A86FF;
    border-top: 1px solid #4A86FF;
    border-bottom: 1px solid #4A86FF;
  }

  &:hover {
    opacity: 0.8;
  }
}

.headerMenuContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
}
