.headerContainer  {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #E5E5E5;
  background-color: black;
  padding: 8px 0;
  position: fixed;
  top: 0;
  user-select: none;

  z-index: 50;

  @media (min-width: 1024px) {
    justify-content: space-between;
    padding: 10px 20px 10px 52px;
  }
  @media (min-width: 1280px) {
    padding: 10px 50px 10px 92px;
  }
  @media (min-width: 1920px) {
    padding: 10px 92px 10px 182px;
  }
}

.headerTitle {
  font-family: angst-thin;
  font-size: var(--header-font-size);
  line-height: var(--header-line-height);
  font-weight: 300;
  padding-right: 30px;

  @media (min-width: 1024px) {
    padding-right: 0;
  }
}

.menuButton {
  position: absolute;
  right: 8px;
  top: 8px;
}

.menuIcon {
  height: 45px;
  width: 45px;
}

.headerMenuItem {
  width: fit-content;
  font-family: raleway-regular;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 6px;

  transition: all 0.15s ease-out;

  cursor: pointer;

  &.blue {
    color: #4A86FF;
    border-top: 1px solid #4A86FF;
    border-bottom: 1px solid #4A86FF;
  }
  &:hover {
    opacity: 0.8;
  }
  @media (min-width: 1024px) {
    font-size: 16px;
    line-height: 16px;
  }
}

.contactsButton {
  border-bottom: 1px solid white;
  padding: 0;
}

.headerMenuContainer {
  display: flex;
  flex-direction: inherit;
  justify-content: space-between;
  gap: 22px;

  @media (min-width: 1024px) {
    align-items: center;
    gap: 16px;
  }
  @media (min-width: 1920px) {
    gap: 52px;
  }
}

.contacts {
  font-family: arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 58px 0;
  
  @media (min-width: 1024px) {
    align-items: flex-end;
    padding: 34px 28px;
    gap: 22px;
  }
}

.contactsAvatarWrapper {
  width: 100%;
  margin-bottom: 48px;
  
  @media (min-width: 1024px) {
    margin-bottom: 18px;
  }
}

.contactsAvatar {
  height: 180px;
  width: 180px;
  border-radius: 100%;
  background-color: #D9D9D9;
  overflow: hidden;
  margin: 0 auto;

  @media (min-width: 1024px) {
    height: 142px;
    width: 142px;
  }
}

.contactsAvatarImage {
  width: 100%;
  height: 100%;
}

.contactItem {
  position: relative;
  width: 100%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #E5E5E5;
  padding: 20px 0;
  gap: 6px;
  
  user-select: none;
  cursor: pointer;
  
  &:hover {
    .contactText {
      opacity: 0.8;
    }
  }
  &.first {
    border-top: 1px solid #E5E5E5;
  }
  &.last {
    border-bottom: 1px solid #E5E5E5;
  }
  @media (min-width: 1024px) {
    width: fit-content;
    font-size: 18px;
    border: none;
    padding: 0;

    &.first, 
    &.last {
      border: none
    }
  }
}

.contactText {
  transition: opacity 0.15s ease-out;
}

.tooltip {
  font-size: 16px;
  line-height: 16px;
  color: black;
  background-color: #E5E5E5;
  border-radius: 4px;
  opacity: 1;
  padding: 4px;

  position: absolute;
  right: 12px;
  top: -18px;

  transition: opacity 0.15s ease-out;

  &.hidden {
    opacity: 0;
  }
  @media (min-width: 1024px) {
    font-size: 12px;
    line-height: 12px;
    right: -24px;
    top: -24px;
  }
}

.drawerMenu {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 42px 58px;
}
