.projectPreviewContainer {
  height: auto;
  overflow: hidden;
  position: relative;

  @media (min-width: 1024px) {
    height: calc(100vh - var(--header-height));
  }
}

.projectPreviewTitleWrapper {
  position: absolute;
  height: 100%;
  top: 18px;
  left: var(--padding-x);
  z-index: 1;
  
  @media (min-width: 1024px) {
    top: 52px;
  }
  @media (min-width: 1280px) {
    top: 80px;
  }
  @media (min-width: 1920px) {
    top: 130px;
  }
}

.projectPreviewImageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &.gradient {
    &::after {
      content: "";
      background: linear-gradient(black, transparent, transparent, transparent, black);
  
      position: absolute;
      inset: 0;
    }
  }
}