.previewWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.previewClose {
  position: absolute;
  top: 18px;
  right: 35px;
  height: 24px;
  width: 24px;
}

.previewClose,
.previewArrowLeft,
.previewArrowRight {
  opacity: 0.7;
  transition: opacity 0.15s ease-out;

  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &.disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.previewArrowLeft {
  position: absolute;
  left: 18px;
}

.previewArrowRight {
  position: absolute;
  right: 18px;
}

.image {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  object-fit: contain;
}
